@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.navbar{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar a {
    text-decoration: none;
    /*flex-wrap: wrap;*/
    color: hsl(220, 1%, 51%);
    display: flex;
}

body {

    background-color: hsl(36, 100%, 99%);
    margin: 100px 150px 100px 150px;
    font-family: 'Inter', sans-serif;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    background-color: aqua;
    margin: 40px 0 0 0;
}

.mainpic {
    display: flex;
    width: 100%;
    justify-content: left;
    height: min-content;
}

.New{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;
    width: 300px;
    background-color: hsl(240, 100%, 5%);
}

.title {
    color: #F0BB5F;
}

.subtitle {
    color: #FAF9FD;
}

.info {
    color: #C1C1D3;
    font-size: 15px;

}
 hr {
     height: 1px;
     border: 0;
     border-top: 1px solid #C1C1D3;
     margin: 1em 0;
     padding: 0;
 }

 .brightTitleLarge {
     display: flex;
     flex: 1 1 auto;
 }
/*.Bright {*/
/*    display: flex;*/
/*}*/

.attribution {
    font-size: 11px;
    text-align: center; }

.attribution a {
    color: hsl(228, 45%, 44%);
}



